{% extends 'admin/base.html.twig' %}

{% block title %}Modifier Employee
{% endblock %}

{% block body %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Modifier les infos</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="{{path("adminPath.dashboard")}}">Accueil</a>
							</li>
							<li class="breadcrumb-item active">Employee</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
		<section class="content">
			<div class="container">
				{{ include('admin/employee/_form.html.twig', {'button_label': 'Modifier'}) }}

				<div class="mt-4">
                    {{ include('admin/employee/_delete_form.html.twig') }}
                </div>
			</div>
		</section>
	</div>
{% endblock %}
