<div class="col-md-12 text-center alert alert-success h-25">
    <a name="employee_ajout"
      url = "{{ app.request.uri|trim(app.request.requesturi) }}"
      {# uri = {{path('commande_detail_employee')}} #}
      employeeid = "{{employee.id}}"
      commande = "{{commande.id}}"
      class="btn employee_ajout"
      role="button">
      Ajouter
    </a>
</div>