{% extends "users/base.html.twig" %}

{% block title %}Services | SCVS Personne
{% endblock %}

{% block body %}
	<div class="container">
		<div class="content-wrapper-user">
			<service-list data-user={{app.user ? app.user.id : 0}}></service-list>
			{# <ul class="servicesLatest">
				<div class="row">
					{% for service in servicesList %}
						{% include "users/services/_service_detail.html.twig" %}
					{% endfor %}
				</div>
			</ul>
			<div class="col-md-6 pull-left">
				{{ knp_pagination_render(servicesList) }}
			</div> #}
		</div>
	</div>
{% endblock %}
