<!DOCTYPE html>

<title>New CommandeDetail</title>

{% block body %}
    <h1>Create new CommandeDetail</h1>

    {{ include('commande_detail/_form.html.twig') }}

    <a href="{{ path('commande_detail_index') }}">back to list</a>
{% endblock %}
