{% extends 'admin/base.html.twig' %}

{% block title %}Modifier le service{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Modifier service</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{path("adminPath.dashboard")}}">Home</a></li>
                <li class="breadcrumb-item active">Services</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <section class="content">
            <div class="container">
        {{ include('admin/services/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="mt-4">
            {{ include('admin/services/_delete_form.html.twig') }}
        </div>
            </div>
        </section>
    </div>
{% endblock %}
