<!-- Navbar -->
<nav class="main-header-home navbar navbar-expand navbar-default navbar-light" id="navbar" data-turbolinks-permanent>
    <!-- Left navbar links -->
    <ul class="navbar-nav container">
        <li class="nav-item">
            <a class="nav-link" href="{{path('home')}}" role="button">Acceuil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('services')}}" role="button">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button">A propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button">Contactez-nous</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button">Se connecter</a>
        </li>
    </ul>
    <!-- Right navbar links -->
</nav>